<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link type="text/css" rel="stylesheet" href="../css/styles.css">

    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="myPage.html">My page</a></li>
        <li><a href="makeBooking.html">Make a booking</a></li>
        <li><a href="login.html" id="logoutBtn">Sign out</a></li>
    </ul>
</head>

<body>
<h3 style="position: center; font-size: 50px">Welcome to Teacher Connect</h3>
<h2 style="position: center; font-size: 30px">Please use the navigation bar to move between sites</h2>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/homeside.js"></script>
<script src="../js/logout.js"></script>

</html>