<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
<h1 align="center">Login Page</h1>

<div class="login-page">
    <div class="form">

        <p>Sign in with your CBS student mail below</p>
        <form id="login" class="login-form">
            <input type="text" placeholder="CBS email" name="email" id="email"/>
            <input type="password" placeholder="password" name="password" id="password"/>
            <input type="submit" value="login" name="login" id="loginButton"/>

            <br/><br/><br/>

        </form>

    </div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="module" src="../js/login.js"></script>

</html>
