<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
    <link type="text/css" rel="stylesheet" href="../css/calendar.css">
    <link type="text/css" rel="stylesheet" href="../css/styles.css">

    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="myPage.html">My page</a></li>
        <li><a href="makeBooking.html">Make a booking</a></li>
        <li><a href="login.html" id="logoutBtn">Sign out</a></li>
    </ul>
</head>

<!--https://www.w3schools.com/jsref/event_onload.asp-->
<body onload="renderDate()">


<!-- The class name "app" does not have any relevance for our js file, and is only used in our HTML sheet, so we can use CSS styles on the div.-->
<div class="app">

    <div class="coursesMenu">
        <p><b>Course:</b></p>
        <select id="t1" class="optionCourses">
        </select>
    </div>

    <br/>

    <div class="teachersMenu">
        <p><b>Teacher:</b></p>
        <select id ="t2" class="optionTeachers">
        </select>
    </div>

    <br/>

    <div class ="topicsMenu">
        <p><b>Topic:</b></p>
        <p class="buttonTopics">
            <input type='button' class='topics' value='topic 1'/></input>
            <input type='button' class='topics' value='topic 2'/></input>
            <input type='button' class='topics' value='topic 3'/></input>
        </p>
    </div>

    <div>
        <p><b>Type your own topic:</b></p>
        <input id="Topic" type="search" value=""/>
    </div>

<!-- Classes are here made to encapsulate the different divs that the calendar contains.-->
<div class = "wrapper">

    <!--The wrapper contains the user interface, and is only represented i the css file, for giving a user friendly display. The wrapper is wrapped around the whole public-->

    <div class = "calendar">

        <!-- The 'calendar' class is also represented in the css, but the only thing represented in this class is the calendar itself. The panel -->
        <div class="month">
            <!--This class represents the month division which is above the weekends division -->
            <div class = "prev" onclick = "moveDate('prev')">
                <!--This is a onclick function that uses the span element below to execute when either the prev or next button is clicked on. -->
                <span>&#10094</span>
                <!-- a symbol in HTML-->
            </div>
            <div>
                <h2 id="month"></h2>
                <!-- gets its innerHTML from l.93 in javascript-->
                <br>
                <p id="date_str"></p>
                <!--is the paragraph placed under the month-->
            </div>
            <div class= "next" onclick="moveDate('next')">
                <span>&#10095</span>
                <!--next names next div in calendar -->
            </div>
        </div>
        <div class="weekends">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <!--The div made for the weekends-->
        <div class="days" id = "daysTest"></div>

        <div id="panel">

            <h3 id = headline>Valg af Tidspunkt</h3>
            <form class ="time" name="time" id="time">
                <!-- Radio buttons  -->
                <input type="radio" class="time1" value="13.00-13.15"/>13.00-13.15</input>
                <br/>
                <br/>
                <input type="radio" class="time1" value="13.15-13.30"/>13.15-13.30</input>
                <br/>
                <br/>
                <input type="radio" class="time1" value="13.30-13.45"/>13.30-13.45</input>
                <br/>
                <br/>
                <input type="radio" class="time1" value="13.45-14.00"/>13.45-14.00</input>
                <br/>
                <br/>
                <input type="submit" id="submitBtn" value="Submit">
            </form>

        </div>

    </div>

</div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../js/actualCalendar.js"></script>
<script type="module" src="../js/calendar.js"></script>
<script src="../js/logout.js"></script>

</html>