<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>

    <link type="text/css" rel="stylesheet" href="../css/styles.css">
    <link type="text/css" rel="stylesheet" href="../css/myPage.css">

    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="myPage.html">My page</a></li>
        <li><a href="makeBooking.html">Make a booking</a></li>
        <li><a href="login.html" id="logoutBtn">Sign out</a></li>
    </ul>
</head>
<body>

<div class="split personalInfo">
    <div class="centered">
        <h2><u>Your personal information</u></h2>

        <div id="testID"></div>

        <h3>Full name:</h3>
        <input type="text" id="userFullName">
        <br/>

        <h3>Phone number:</h3>
        <input type="text" id="userPhoneNumber">
        <br/>

        <h3>Email address:</h3>
        <input type="text" id="userEmail">
        <br/>

        <h3>Address:</h3>
        <input type="text" id="userAddress">
        <br/>

        <h3>Student ID:</h3>
        <div id="userStudentID"></div>
        <br/>

        <h3>Program:</h3>
        <div id="userProgram"></div>
        <br/>

        <br/>
        <input type="submit" id="updateInformation" value="Save new information">

    </div>
</div>

<div class ="split myBookings">
    <div class="centered">
        <h2><u>Bookings</u></h2>

        <h3>My current bookings:</h3>
        <form class="allBookings" id="currentUserBookings"></form>
        <br/>
        <input type="submit" id="removeBookings" value="Slet valgte bookings">

    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="module" src="../js/myPage.js"></script>
<script src="../js/logout.js"></script>

</html>
