ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: dimgrey;
}

li {
    float: left;
    position: relative;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

.columnPrograms {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.rowPrograms:after {
    content: "";
    display: table;
    clear: both;
}
.columnPrograms {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .columnPrograms {
        width: 100%;
    }
}

.ul2{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.lu2{
    display: list-item;
}
